<form (submit)="addProduct()">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="newProduct.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tag" [(ngModel)]="newProduct.tag" name="tag" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" [(ngModel)]="newProduct.price" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantity" [(ngModel)]="newProduct.quantity" name="quantity" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add Product</button>
  </form>

<button mat-button (click)="fetchInventory()">Refresh</button>

<mat-card *ngFor="let product of inventory">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.tag}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Price: {{product.price}}</p>
        <p>Quantity: {{product.quantity}}</p>
    </mat-card-content>
</mat-card>


